/IRC.txt
/android.txt
/coding_conventions.txt
/ctags.txt
/gdb_tips.txt
/monster_speech.txt
/new_dev_checklist.txt
/patch_guide.txt
/process.txt
/release.txt
/save_compatibility.txt
/spells.txt
/testing.txt
/tiles_creation.txt
/translation.txt
