/abyss.des
/blade.des
/coc.des
/crypt.des
/depths.des
/depths_encompass.des
/dis.des
/elf.des
/geh.des
/hell.des
/lair.des
/orc.des
/pan.des
/shoals.des
/slime.des
/snake.des
/spider.des
/swamp.des
/tar.des
/temple.des
/tomb.des
/vaults.des
/vaults_rooms_empty.des
/vaults_rooms_hard.des
/vaults_rooms_standard.des
/zot.des
