/0.12_monster_glyphs.txt
/0.13_monster_glyphs.txt
/0.14_monster_glyphs.txt
/0.9_monster_glyphs.txt
/034_command_keys.txt
/034_monster_glyphs.txt
/052_monster_glyphs.txt
/060_monster_glyphs.txt
/071_monster_glyphs.txt
/080_monster_glyphs.txt
/advanced_optioneering.txt
/colemak_command_keys.txt
/dec_glyphs.txt
/dvorak_command_keys.txt
/ibm_glyphs.txt
/init.txt
/no_vi_command_keys.txt
/old_unicode_glyphs.txt
/safe_move_shift.txt
