/ambush.des
/ancient_champions.des
/arcadia.des
/cathedral_bats.des
/compat.des
/d_encompass.des
/float.des
/geyser.des
/grated_community.des
/large_abstract.des
/large_themed.des
/lemuel_castle.des
/mini.des
/mini_features.des
/mini_monsters.des
