/ability.txt
/backgrounds.txt
/cards.txt
/commands.txt
/features.txt
/gods.txt
/hints.txt
/items.txt
/monsters.txt
/quotes.txt
/skills.txt
/species.txt
/spells.txt
/tutorial.txt
/unident.txt
/unrand.txt
