/DejaVuSans.ttf
/DejaVuSansMono.ttf
/feat.png
/floor.png
/gui.png
/icons.png
/logo.png
/main.png
/player.png
/stone_soup_icon-32x32.png
/stone_soup_icon-512x512.png
/stone_soup_icon-win32.png
/title_baconkid_duvessa_dowan.png
/title_baconkid_gastronok.png
/title_baconkid_mnoleg.png
/title_denzi_dragon.png
/title_denzi_evil_mage.png
/title_denzi_invasion.png
/title_denzi_kitchen_duty.png
/title_denzi_summoner.png
/title_denzi_undead_warrior.png
/title_firemage.png
/title_omndra_zot_demon.png
/title_peileppe_bloax_eye.png
/title_pooryurik_knight.png
/title_psiweapon_kiku.png
/title_psiweapon_roxanne.png
/title_shadyamish_octm.png
/title_white_noise_entering_the_dungeon.png
/title_white_noise_grabbing_the_orb.png
/wall.png
