/FAQ.db
/FAQ.lk
/descriptions.db
/descriptions.lk
/gamestart.db
/gamestart.lk
/help.db
/help.lk
/hints.db
/hints.lk
/misc.db
/misc.lk
/quotes.db
/quotes.lk
/randart.db
/randart.lk
/shout.db
/shout.lk
/speak.db
/speak.lk
