/FAQ.txt
/godname.txt
/godspeak.txt
/help.txt
/insult.txt
/miscname.txt
/monflee.txt
/monname.txt
/monspeak.txt
/monspell.txt
/montitle.txt
/rand_all.txt
/rand_arm.txt
/rand_wpn.txt
/randbook.txt
/randname.txt
/shout.txt
/wpnnoise.txt
