/aquarium.des
/bayou.des
/column_ruins.des
/corridors.des
/curves.des
/forest.des
/glass.des
/gnoll_camp.des
/ice.des
/magic_research.des
/park.des
/ponds.des
/serial_guide.txt
/sigils.des
/undead.des
/window.des
