/altar.des
/ashenzari_visionary.des
/kiku_cage.des
/lugonu_bribe.des
/nemelex_the_gamble.des
/okawaru_arena.des
/overflow.des
/trog_burn_book.des
/trog_wizard.des
/vehumet_trees.des
/xom_monty_hall.des
/xom_sheep.des
/yredelemnul_ordeal.des
